name: CD Pipeline

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    environment: development

    steps:
      - name: Trigger Render Deploy
        run: |
          curl -X POST ${{ secrets.RENDER_CALLBACK_URL }}
          
      - name: Verify Deployment Trigger
        run: echo "Deployment triggered successfully via Webhook."
